<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D0wzy - Screenshot</title>
    <meta property="og:site_name" content="D0wzy - Screenshot">
    <meta name="author" content="D0wzy">
    <meta property="og:description" content="Uploaded on <%= createdAt %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= link %>">
    <meta property="og:image" content="<%= name %>">
    <meta property="og:locale" content="en_US">
</head>
</html>